<main class="spa">
    <app-navigation [navigation]="navigationState" [isAuth]="isAuthState" [handleNavItemClick]="onClickNavItem" [logout]="logout"></app-navigation>
    <h1 class="text-center m-5 fs-2 fw-semibold text-secondary">{{ titleState }}</h1>
    <div *ngIf="!isAuthState" id="app-login">
        <app-login [handleLogin]="login" [user]="userState"></app-login>
    </div>
    <div *ngIf="isAuthState" id="app-my-history" >
        <app-profile [user]="userState" [handleLoadUserTasks]="loadUserTasks"></app-profile>
        <app-team [users]="usersState" [handleTeamPartnerTasks]="loadUserTasks"></app-team>
        <app-form-button  [handleToggleForm]="toggleFormState" [isFormDisplayed]="formDisplayState" [teamPartner]="teamPartnerState"></app-form-button>
        <app-task-form *ngIf="isFormShouldDisplayed()" [tasks]="tasksState" [handleTaskState]="assignNewTaskState"></app-task-form>
        <app-daily-task [tasks]="tasksState" [user]="userState" [teamPartner]="teamPartnerState"></app-daily-task>
    </div>
    <div
        id="app-my-team"><!-- here team element -->
    </div>
</main>
