<main class="spa">
    <app-navigation [navigation]="navigationState" [isAuth]="isAuthState" [handleNavItemClick]="onClickNavItem" [logout]="logout"></app-navigation>
    <h1 class="text-center m-5 fs-2 fw-semibold text-secondary">{{ titleState }}</h1>
    <div *ngIf="!isAuthState" id="app-login">
        <app-login [handleLogin]="login" [user]="userState"></app-login>
    </div>
    <div *ngIf="isAuthState" id="app-my-history" class="container-fluid">
        <app-team [users]="usersState"></app-team>
        <app-profile [user]="userState" [handleToggleForm]="toggleFormState" [isFormDisplayed]="isFormDisplayed"></app-profile>
        <app-task-form *ngIf="isFormDisplayed" [tasks]="tasksState" [handleTaskState]="assignNewTaskState"></app-task-form>
        <app-daily-task [tasks]="tasksState"></app-daily-task>
    </div>
    <div
        id="app-my-team"><!-- here team element -->
    </div>
</main>
