<div class="container card-body">
    <div class="row text-center mb-5">
        <h5 class="card-title">Find here your personal params</h5>
    </div>
    <div class="row">
        <div class="col mb-3">
            <h2 class="fs-4 fw-semibold text-secondary">Your personal information</h2>
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Change your email">

            <label for="exampleFormControlInput2" class="form-label"> First name</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Change your first name">

            <label for="exampleFormControlInput3" class="form-label"> Last name</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Change your last name">
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-50  my-5">Update</button>
            </div>
        </div>
        <div class="col mb-3 container">
            <h2 class="fs-4 fw-semibold text-secondary">App settings</h2>    
            <div class="row mt-2">
                <label class="col form-label">Clear today task:</label>
                <button type="button" href="#" class="col btn btn-sm btn-warning mx-5">Clear</button>
            </div>
            <div class="row mt-2">
                <label class="col form-label">Clear all the history:</label>
                <button type="button" href="#" class="col btn btn-sm btn-danger mx-5">Clear</button>
            </div>
        </div>
    </div>
</div>