<form #userLogin="ngForm" (ngSubmit)="onClickSubmitUser(userLogin.value)" class="app-login d-flex flex-column justify-content-center container-sm">
    <div class="mb-3 app-input">
        <label for="app-email" class="form-label text-primary">Email address</label>
        <input type="email" name="email" id="app-email" class="form-control" [ngModel]="email"/>
    </div>
    <div class="mb-3 app-input">
        <label for="app-password" class="form-label text-primary">Password</label>
        <input type="password" name="password" id="app-password" class="form-control" [ngModel]="password"/>
    </div>
    <div class="d-flex justify-content-center">
        <div class="nav-item">
            <button type="submit" class="btn btn-outline-success">Login</button>
        </div>
    </div>
</form>
